// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Caudex";
$headers-font: "Caudex";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


#brand {
  font-style: italic;
}

#emp {
  font-style: bold;
}


body a {
  color: black;
  font-style: bolder;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

body a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
   body {
    font-size: 3rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
   body {
    font-size: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

