<div class="footer">

  <div class="footer-links">
    <%= link_to "imprint", imprint_path, class: "footer-link" %>
    <%= link_to "privacy policy", privacy_policy_path, class: "footer-link" %>
    <%= link_to "terms of service", terms_of_service_path , class: "footer-link" %>
    <%= link_to "contact", contact_path, class: "footer-link" %>
  </div>

</div>

