<div class="footer">

  <div class="footer-links">
    <%= link_to "IMRRINT", imprint_path, class: "footer-link" %>
    <%= link_to "PRIVACY POLICY", privacy_policy_path, class: "footer-link" %>
    <%= link_to "TERMS OF SERVICE", terms_of_service_path , class: "footer-link" %>
    <%= link_to "CONTACT", contact_path, class: "footer-link" %>


  </div>
</div>

