<p>ABOUT PAGE</p>
<div>
  <p>the_<span id="brand">Other</span> is for everyone who feels othered or other</p>
  <p>the_<span id="brand">Other</span> acts as an alternative, other space</p>
  <p>the_<span id="brand">Other</span>  is a fearless, honest, unapologetic and participative endeavour</p>
  <p>the_<span id="brand">Other</span> speaks in an open-ended, other dialect</p>
  <p>the_<span id="brand">Other</span> is non-conformist, revolutionary, out-spoken and independent</p>
</div>

<div>
  <p>
    the_<span id="brand">Other</span> reimagines knowledge production and the political from the perspective of lived experiences and through the emotive. With an emphasis on feelings and emotions it both questions and deconstructs the centring of ‘the objective rationality.’ Highlighting voices that defy scripted identifications, it provides a platform for conversational and meaningful dialogue.
  </p>
  <p>
    Rooted in the belief that creativity is thought provoking and can act as an agent of change, the_<span id="brand">Other</span> is part of a transformative process. It provides decolonising and intersectional lenses to unlearn established narratives of the world. Listening to and learning from other insights are fundamental strategies for new possibilities. the_<span id="brand">Other</span> engages in mutual learning practices to unfold the realities of this transformative process.
  </p>
  <p>
  A <span id="emp">zine</span> and a <span id="emp">platform</span> to un:<span id="brand">learn</span>, re:<span id="brand">think</span>, re:<span id="brand">imagine through lived experiences & the emotive
  </p>
</div>

