<div class="issue-cover">
  <%= cl_image_tag @issue.photo.key, :width=>250, :height=>250, id: "issue-cover-show" %>
</div>
<div class="issue-title">
  <h1>ISSUE # <%= @issue.id %><%= @issue.title %></h1>


</div>
<div class="issue-short-desc">
  <%= @issue.short_description %>
</div>




<iframe src="https://open.spotify.com/embed/track/5oDNfTnNClOyD40Nu6iFQG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
