<p>
  What would you like to contribute?

<%= simple_form_for ([@issue, @contribution]) do |f| %>
  <%= f.input :contribution_type, collection: ['music', 'video', 'text', 'project'], label:false%>
<% end %>

  <div class="collapsable-form">
        <%= render 'shared/add_contribution_content'%>
      </div>
</p>
