
<%= simple_form_for ([@issue, @contribution]) do |f| %>
  <p>
    What would you like to contribute?
  </p>
  <%= f.input :contribution_type, collection: ['music', 'video', 'text', 'project'], label:false%>
  <%= f.input :contribution_content,label:false%>
  <p>
    Do you want your contribution to be public?
  </p>

  <%= f.input :public, label: "Publish contribution" %>

<% end %>

<!--   <div class="collapsable-form">
        <#%= render 'shared/add_contribution_content'%>
  </div>
<div data-toggle="collapse" href="#collapsePubluc" role="button" aria-expanded="false" aria-controls="collapseStepAdd" class="add-step-link">
  continue
</div>


<div class="collapse" id="collapsePubluc">
  <div class="card card-body ingredient-form" style="border: 0">

    <#%= render 'shared/add_public' %>

  </div>
</div>
 -->
