
/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .issue-card {
    margin: 20px 10px;
    background-color: white;
  }

  .issue-info {
    width: 300px;
    margin: 10px 10px;
  }

  .issue-title{
    font-weight: bolder;
    margin: 10px 0px;
  }

  #issue-card-cover {
    height: 300px;
    width: 300px;
    margin: 10px 10px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .issue-card {
    width: 900px;
    margin: 20px 10px;
    display:flex;
  }

  .issue-card:hover {
    background-color: white;

    }

  .issue-info {
    margin: 20px 15px;
  }

  .issue-title{
    font-weight: bolder;
    margin-bottom: 20px;
  }

  #issue-card-cover {
    height: 150px;
    width: 150px;
    margin: 20px 20px;
  }

  .contribution-card {
  margin: 30px 0px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
