.text-center{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 800px;
}


//Contribution Photo


.contribution-photo img {
  width:200px;
}
//Contribution Link
.contribution-author {
  margin-top: 15px;
}

.contribution-content a {
  text-decoration: underline;
}

.contribution-link {
  border: 1px solid black;
  margin-top: 20px;
}

.link-thumbnail {
  display: flex;
  margin-bottom: 0px;
}

.link-thumbnail-description {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.link-title {
  font-weight: bolder;
  margin: 10px 0px;
}

.link-description {
  font-style: italic;
}
.link {
  padding-top: 10px;
  color: grey;
  a {
    text-decoration: underline;
  }
}

.link-thumbnail img {
  width: 20%;
  margin: 10px 5px;
}

