// Contribution text content ---------------------------------------------------
.text-center{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 800px;
}

// Image contribution ----------------------------------------------------------
.contribution-photo img {
  width:200px;
}
// Link contribution including thumbnail, title, description & link-------------
.contribution-author {
  margin-top: 15px;
}

.contribution-content a {
  text-decoration: underline;
}

.contribution-link {
  border: 1px solid black;
  margin-top: 20px;
}

.link-thumbnail {
  display: flex;
  margin-bottom: 0px;
}

.link-thumbnail-description {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.link-title {
  font-weight: bolder;
  margin: 10px 0px;
}

.link-description {
  font-style: italic;
}
.link {
  padding-top: 10px;
  color: grey;
  a {
    text-decoration: underline;
  }
}

.link-thumbnail img {
  width: 20%;
  margin: 10px 5px;
}

/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

