input#contribution_photo {
    width: 214px;
}

@media only screen and (min-width: 768px) {
  .form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content-md-center: between;
  }

  .placeholder {
    width: 100px;
  }
}
