.navbar-design {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  top: 0;
}

.navbar-design .navbar-collapse {
  flex-grow: 0;
}

.navbar-design .navbar-brand img {
  width: 40px;
}


.nav-head {
  color: black;
  font-size: 25px;
}

.nav-head:hover{
  color: black;
  text-decoration: none;
}

